body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom right, #666699 35%, #ff9933 100%);
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#title {
    justify-self: center;
    grid-column: 2 / 5;
    }

#container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#improve {
    grid-area: 1 / 2 / 2 / 5;
    justify-self: center;
}

#name-label {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    margin-bottom: 5px;
}

#name {
    grid-area: 2 / 3 / 3 / 5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
}

#email-label {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self: center;
    margin-bottom: 5px
}

#email {
    grid-area: 3 / 3 / 4 / 5;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px
}

#number-label {
    grid-area: 5 / 2 / 6 / 3;
    justify-self: center;
    align-self: center;
}

#number {
    grid-area: 5 / 3 / 6 / 5;
    border-radius: 10px;
    padding: 10px;
}

#container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 25px 0;
}

#dropdown-label {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
    margin-bottom: 20px;
}

#dropdown {
    grid-area: 2 / 3 / 3 / 4;
    border-radius: 10px;
    padding: 10px;
}

#container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5px 0;
}

#recommendation {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
}

#container3 #absolutely {
    grid-area: 2 / 3 / 3 / 4;   
}

#container3 #maybe {
    grid-area: 3 / 3 / 4 / 4;    
}

#container3 #probably-not {
    grid-area: 4 / 3 / 5 / 4;
}

#container4 {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px 0;
    margin-top: 10px;
}

#focus {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
}

#design {
    grid-area: 2 / 3 / 3 / 4;
}

#service {
    grid-area: 3 / 3 / 4 / 4;
}

#advertisement {
    grid-area: 4 / 3 / 5 / 4;
}

#container5 {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 15px;
}

#suggestions-label {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
}

#container6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

button {
    grid-area: 1 / 3 / 2 / 4;
}





